body {
    background-color: blue;
    text-align: center;
}

#board {
    max-width: 640px;
    min-width: 320px;
    margin: auto;
}

.square{
    background-color: red;
    border: 2px solid black;
    width: 185px;
    height: 185px;
    /* remove line from clicking our squares */
    outline: none;
    font-size: 60px;
}

.square:hover {
    background-color: yellow;
}

#message {
    text-align: center;
    font-size: 40px;
    color: yellow;
}

.winning-square {
    background-color: green;
}

.play-again{
    visibility: visible;
    background-color: yellow;
    margin: 20px;
    height: 40px;
    width: 100px;
}